body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
}
header .container{
    width: 100%;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.70) 0%,rgba(0,0,0,0) 100%);
}

.logo{
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 30px;
    margin: 10px 30px;
}
p{
    margin-top: 105px;
    font-size: 55px;
    text-align: center;
}
#container-users{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user{
    background-color: rgb(65, 65, 65);
    width: 160px;
    height: 160px;
    margin: 15px;
    margin-bottom: 120px;
    border-radius: 5px;
}
#enter{
    margin: 0 30%;
    display: flex;
    justify-content: center;
    background-color: #e50914;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    border-radius: 5px;

}