*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 95vw;
    background-color: rgb(241, 241, 241);
}
/*All page font-configs*/
a, p , span, ::placeholder, button{
    text-decoration: none;
    color: black;
    font-family: 'Quicksand','Poppins', sans-serif;
}
#post-header a{
    font-weight: bold;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0 20px;
    width: 100vw;
    outline: 1px solid rgb(216, 216, 216);
    background-color: rgb(250, 250, 250);
    height: 7vh;

    position: fixed;
    z-index: 10;
}
header img{
    width: 110px;
}
header #search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 30px;
    width: 12vw;
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
    border: 1px solid rgb(216, 216, 216);
    text-align: center;

    outline: 0;

    position: fixed;
    z-index: 10;
}
header nav a{
    font-size: 25px;
    margin: 0 10px;
    color: black;
}
#blank{
    height: 7vh;
    width: 100%;
    margin-bottom: 30px;
}
#main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: auto;
}
#main-content{
    width: 40vw;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-right: 20px;
}
#main #stories{
    display: flex;
    align-items: center;

    height: 115px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(216, 216, 216);
    width: 100%;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 0 15px;
}
#main #stories .stories-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#main #stories .user-stories{
    width: 60px;
    height: 60px;
    background-color: rgb(206, 206, 206);
    border-radius: 50%;
    margin: 0 5px 0 5px;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#main #stories .stories-container a{
    margin-top: 3px;
    font-size: 14px;
}
#main #posts{
    width: 100%;
    background-color: rgb(206, 206, 206);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    margin-bottom: 20px;
}

#main #posts #post-header{
    display: flex;
    align-items: center;

    width: 100%;
    height: 60px;
    background-color: rgb(250, 250, 250);
}
#main #posts #post-header #user-img{
    width: 40px;
    height: 40px;
    background-color: rgb(206, 206, 206);
    border-radius: 50%;
    margin-left: 5px; 
}
#main #posts #post-header a{
    margin-left: 10px;
}
#main #posts #post-header .config-user-post{
    font-size: 8px;
    margin-left: auto; 
    margin-right: 15px;
    outline: 0;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    cursor: pointer;
}
#main #posts #photo-post{
    background-color: rgba(255, 255, 255);
}
#main #posts #photo-post #mock-div{
    width: 100%;
}
#main #posts #photo-post img{
    width: 100%;
    height: 100%;
}
#main #posts #reactions-btns{
    background-color: rgb(250, 250, 250);
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}
#main #posts #reactions-btns a{
    color: black;
    font-size: 25px;
    margin-right: 20px;
}
#main #posts #reactions-btns #all-right-btn{
    margin-left: auto;
    margin-right: 0;
}
#main #posts #comments{
    background-color: rgb(250, 250, 250);
    height: 10vh;
    overflow: hidden;
    padding: 0;
    padding: 0 10px;
}
#main #posts #comments span{
    font-weight: bold;
}
#main #posts #comment-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}
#main #posts #comment-container input{
    width: 90%;
    height: 100%;

    outline: none;
    border: none;
    padding: 10px;
    border-top: 1px solid rgb(216, 216, 216);
}
#main #posts #comment-container button{
    width: 10%;
    height: 100%;

    outline: none;
    border: none;
    color: rgb(56, 114, 238);
    font-weight: 600;
    cursor: pointer;
    background-color: white;
    border-top: 1px solid rgb(216, 216, 216);

}
#main #aside{
    position: static;
    width: 17vw;
}
#main #aside #user-div{
    display: flex;
    align-items: center;
    
    height: 25%;
    width: 100%;

    padding: 5px;
    height: 105px;
}
#main #aside #user-div #user-img{
    width: 60px;
    height: 60px;
    background-color: rgb(206, 206, 206);
    border-radius: 50%;
    margin: 0 10px 0 10px;
}
#main #aside #user-div #user-links a{
    font-weight: bold;
    font-size: 13px;
}
#main #aside #user-div #user-links p{
    font-size: 10px;
}
#main #aside #suggestions #suggestion-for-you,
#main #aside #suggestions .aside-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main #aside #suggestions #suggestion-for-you{
    margin-bottom: 20px;
}
#main #aside #suggestions #suggestion-for-you p{
    font-size: 15px;
    font-weight: bold;
    color: gray;
}
#main #aside #suggestions #suggestion-for-you a{
    font-size: 13px;
    font-weight: bold;
}
#main #aside #suggestions .aside-user{
    padding: 5px 0;
}
#main #aside #suggestions .aside-user button{
    height: 100%;

    outline: none;
    border: none;
    color: rgb(56, 114, 238);
    font-weight: 600;
    cursor: pointer;
}
#main #aside #suggestions #left-part{
    display: flex;
    align-items: center;
}
#main #aside #suggestions #left-part #aside-links{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
#main #aside #suggestions #left-part a{
    display: block;
    font-weight: bold;
}
#main #aside #suggestions #left-part p{
    font-size: 11px;
}
#main #aside #suggestions #left-part .aside-user-img{
    width: 40px;
    height: 40px;
    background-color: rgb(206, 206, 206);
    border-radius: 50%;
    margin-left: 5px; 
}
#main #aside #aside-nav{
    margin-top: 20px;
}
#main #aside #aside-nav a{
    width: 100%;
    text-align: justify;
    font-size: 10px;
    color: rgb(141, 141, 141);
    margin: 0 3px 0 0;
}
#main #aside #aside-nav a::after{
    margin: 0 0 0 5px;
    content: "●";
    font-size: 4px;
    color: rgb(141, 141, 141);
}
#main #aside #aside-nav #copyright{
    margin-top: 15px;
}
#main #aside #aside-nav #copyright p{
    font-size: 11px;
    color: rgb(141, 141, 141);
}
