#popup{
    visibility: hidden;
    position: fixed;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    z-index: 9999;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

}
#popup #pop-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100px;
    width: 25%;

    overflow:hidden;
    border-radius: 10px;
}
.heart{
    animation-name: heart;
    animation-duration: 0.2s;
}
.zoomout{
    animation-name: zoomout;
    animation-duration: 0.1s;
}
.fadeout{
    animation-name: fadeout;
    animation-duration: 1s;
    animation-delay: 2s;
}
#popup #pop-menu button, #popup #pop-menu #popclosebtn{
    text-align: center;
    width: 100%;
    padding: 15px 20px;
    background-color: white;
    border: 0;
    outline: 0;
    background-color: white;
    border-top: 1px solid rgb(216, 216, 216);
    font-size: 14px;
    cursor: pointer;
}

#repobtn,
#unfbtn{
    font-weight: 700;
    color: #ed4956;
}
/*animations*/
@keyframes zoomout {
    0% {transform: scale(1.15)}
    100% {transform: scale(1)}
}
@keyframes heart {
    0% {transform: scale(0)}
    80%{transform: scale(1)}
    100% {transform: scale(1.20)}
}